@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.topbar{
    height: 8vh;
    width: 100%;
    display:flex;
    background-image: linear-gradient(97deg, #ff7a6e, #ff9770);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
.nav-left{
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    padding-right:10px;
}

.nav-mid{
    width: 56%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.nav-right{
    width: 23%;
    height: 100%;
    display: flex;
    color: #fff;
    align-items: center;
}

.nav-logout{
    color: #fff;
    margin-left: 90px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.icon{
    height: 30px;
    width: 30px;
    margin-left: 15px;
}

